.navheader {
  display: flex;
  justify-content: space-around;
  background: #2c3e50;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

ul {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

ul li,
i {
  transition: all 0.3s ease-out;
}

ul li:first-child {
  margin-right: 15px;
}

li:hover,
i:hover {
  cursor: pointer;
  color: #1abc9c;
}