<div class="container">
  <div class="product-item" [formGroup]="productForm">
    <h1>{{ productName.value | uppercase }}</h1>
    <p class="b" *ngIf="price.value">$ {{ price.value }}</p>
    <div class="tag">
      <label>Update product name <i class="fas fa-tags"></i>:</label>
        <input type="text" formControlName="name" placeholder="Enter the product's name"/>
    </div>
    <div class="price">
      <label>Update product price <i class="fas fa-dollar-sign"></i>:</label>
        <input type="text" formControlName="price" placeholder="Inform the desired price"/>
    </div>
    <div class="quantity">
      <label>Update product quantity <i class="fas fa-layer-group"></i>:</label>
        <input type="text" formControlName="quantity" placeholder="Inform the desired quantity"/>
    </div>
    <div class="available">
      <label>Update product availability <i class="fas fa-clipboard-check"></i>:</label>
        <label for="true">{{productForm.get('availability').value}}
          <input type="checkbox" formControlName="availability">
        </label>
    </div>
    <button class="btn btn-success" (click)="saveChanges()">Save changes</button>
    <button class="btn btn-cancel" (click)="goBack()">Go back</button>
</div>