<div class="filter-container">
  <div class="search-bar">
    <button><i class="fas fa-search"></i></button>
    <input #inputFilter type="text" placeholder="Filter Products..." (keyup)="filterProducts(inputFilter.value)">
    <button type="button" value="Filters" (click)="openFilters()"> <i class="fas fa-filter"></i> Filter </button>
  </div>
  <ng-container *ngIf="displayFilters">
    <div class="filters-container">
      <div class="inputs-container">
        <div class="quantity">
          <h3>Quantity</h3>
          <input type="number" name="quantity" id="quantity" min="1" max="1000">
        </div>

        <div class="price">
          <h3>Price</h3>
          <label>Min</label>
            <input type="text" name="min-price" id="min-price">
            <span> - </span>
          <label>Max</label>
            <input type="text" name="max-price" id="max-price">
        </div>

        <div class="availability">
          <h3>Availability</h3>
          <label>True</label>
            <input type="checkbox" name="true" id="true">
          <label>False</label>
            <input type="checkbox" name="false" id="false">
        </div>
      </div>

      <div class="btn-container">
        <button class="btn btn-reset">Reset all filters</button>
        <div>
          <button class="btn btn-cancel" (click)="openFilters()">Cancel</button>
          <button class="btn btn-success">Apply filters</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>